
<h1>Flight Edit</h1>

<div style="position:relative; z-index: 100" *ngIf="showWarning" class="alert alert-warning">
    <div>
    Daten wurden nicht gespeichert! Trotzdem Maske verlassen?
    </div>
    <p>&nbsp;</p>
    <div>
        <a href="javascript:void(0)" (click)="decide(true)" class="btn btn-danger">Yes</a>
        <a href="javascript:void(0)" (click)="decide(false)" class="btn btn-default">No</a>
    </div>
</div>

<pre>{{flight | json}}</pre>

<div>
    ID: {{id}}
</div>
<div>
    ShowDetails: {{showDetails}}
</div>

<form [formGroup]="formGroup">
    <input formControlName="id">
    <input formControlName="from">
    <input formControlName="to">
    <input formControlName="date">
    <input formControlName="delayed" type="checkbox">

    <button (click)="save()">Save</button>

</form>


<form [formGroup]="formGroup">

    <ng-container *ngFor="let item of meta">
        {{ item.label }}: <input [formControlName]="item.name" [type]="item.type">
    </ng-container>

</form>

<pre>{{ formGroup.controls.from.errors | json }}</pre>